<div class="modal-content messageBox">
    <div class="modal-header">
        <h4>Neue Seite erstellen</h4>
    </div>
    <div class="modal-body">
        <form data-bind="submit: ok">
            <!-- ko composeEditor: { field: title, title: 'Titel', valueUpdate: 'afterkeydown', css: 'form-control' } --><!-- /ko -->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok"><i class="fa fa-check fa-fw"></i> OK</button>
        <button class="btn btn-default" data-bind="click: cancel">Abbrechen</button>
    </div>
</div>