<div id="sitemapnode-translator" class="app-page app-page-nav-bottom">

    <div class="panel-padding-h">
        <div class="row" data-bind="if: entity()">
            <div class="col-md-6">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <input type="text" data-bind="value: entity().Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Permanente Id</label>
                        <input type="text" data-bind="value: entity().PermanentId" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Titel (Deutsch)</label>
                    <input type="text" data-bind="value: entity().getResource('de').Title" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Beschreibung (Deutsch)</label>
                    <textarea data-bind="value: entity().getResource('de').Description" class="form-control" rows="5" />
                </div>

                <div class="form-group">
                    <label>Stichworte (Deutsch)</label>
                    <textarea data-bind="value: entity().getResource('de').Keywords" class="form-control" rows="5" />
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>Übersetzungen</h5>
                        <ul data-bind="foreach: supportedTranslations" class="list-inline">
                            <li>
                                <a href="#" data-bind="click: $parent.editTranslation"><i class="fa fa-edit"></i> <!-- ko text: localeName('de') --><!-- /ko --></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Seitentyp</label>
                    <select class="form-control" data-bind="options: nodeTypes, optionsCaption: 'Bitte wählen...', optionsText: 'title', value: nodeType, disable: nodeType() && nodeType().isRoot"></select>
                </div>

                <div class="form-group" data-bind="if: nodeType() && nodeType().isCustomType">
                    <label>Benutzerdefinierter Typ</label>
                    <input type="text" data-bind="value: entity().NodeType" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Url</label>
                    <input type="text" data-bind="value: entity().ActionUrl" class="form-control" />
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label>Weiterleitung</label>
                        <input type="text" data-bind="value: entity().Redirect" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label>Weiterleitungstyp</label>
                        <input type="text" data-bind="value: entity().RedirectType" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: navigateBack"><span><i class="fa fa-arrow-left"></i> Zurück</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: saveChanges"><span><i class="fa fa-save"></i> Speichern</span></a>
                </li>
            </ul>
        </div>
    </div>

</div>
