<div id="sitemap-index" class="app-page bottom-fixed-navbar-container">

    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline pull-left">
                    <li>
                        <a href="#" data-bind="click: editWebsite"><i class="fa fa-cog"></i> Website</a>
                    </li>
                    <li>
                        <!-- ko if: sitemaps() -->
                        <select data-bind="options: sitemaps, optionsCaption: 'Version wählen', optionsText: function(item) { return 'Version ' + item.Version(); }, value: selectedSitemap"></select>
                        <!-- /ko -->
                    </li>
                    <li>
                        <a href="#" data-bind="click: createSitemapVersion"><i class="fa fa-plus"></i> Neue Version</a>
                    </li>
                    <li data-bind="if: selectedSitemap()">
                        <a href="#" data-bind="click: deleteSitemapVersion"><i class="fa fa-trash-o"></i> Version verwerfen</a>
                    </li>
                </ul>

                <div class="pull-left">
                    <!-- ko if: selectedSitemap() -->
                    <span data-bind="visible: !selectedSitemap().PublishedFrom()">
                        Nicht veröffentlicht <a href="#" data-bind="click: publishSitemapVersion"><i class="fa fa-share-square-o"></i> Jetzt veröffentlichen</a>
                    </span>
                    <span data-bind="visible: selectedSitemap().PublishedFrom()">
                        Veröffentlicht <span data-bind="text: selectedSitemap().PublishedFrom()"></span>
                    </span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <!-- ko if: selectedSitemap() -->
                <!-- ko template: { name: 'NodesTemplate', data: selectedSitemap().rootNodes() } --><!-- /ko -->
                <!-- /ko -->
            </div>

            <div class="col-md-6 col-lg-8">

                <section class="draft-preview-content" data-bind="if: contentPreview()">
                    <!-- ko with: contentPreview() -->
                    <!-- ko foreach: { data: template().rows, as: 'row' } -->
                    <div class="row">
                        <!-- ko foreach: { data:row.cells, as: 'cell' } -->
                        <div data-bind="draftTemplateClass: cell">
                            <div class="template-preview-cell" data-bind="html: $root.findContentPart(cell)"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </section>

                <!-- ko if: contentPreview() && contentPreview().sitemapNode.Content() && contentPreview().sitemapNode.Content().Files().length -->
                <div data-bind="with: contentPreview().sitemapNode.Content()">
                    <h5>Dateien (<!-- ko text: Files().length --><!-- /ko -->)</h5>
                    <ul class="list-inline" data-bind="foreach: Files()">
                        <li>
                            <i class="fa fa-file"></i> <!-- ko text: getResource('de').FileVersion().File().FileName --><!-- /ko -->
                        </li>
                    </ul>
                </div>
                <!-- /ko -->

            </div>

            <div class="col-md-3 col-lg-2">
                <!-- ko if: selectedNode() -->
                <h5 data-bind="text: selectedNode().getResource('de').Title"></h5>
                <ul class="list-inline">
                    <li>
                        <a href="#" data-bind="click: editSitemapNode"><i class="fa fa-edit"></i> Seiten-Eigenschaften</a>
                    </li>
                </ul>  
                <h5>Übersetzungen</h5>   
                <ul data-bind="foreach: supportedTranslations" class="list-inline">
                    <li>
                        <a href="#" data-bind="click: $parent.editTranslation"><i class="fa fa-edit"></i> <!-- ko text: localeName('de') --><!-- /ko --></a>
                    </li>
                </ul>           
                <h5>Inhalt</h5>
                <p>
                    <!-- ko if: !selectedNode().ContentId() -->
                    <em>Kein Inhalt festgelegt</em>
                    <!-- /ko -->

                    <!-- ko if: selectedNode().ContentId() -->
                    <em data-bind="text: selectedNode().ContentId()"></em>
                    <!-- /ko -->
                </p>
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li data-bind="if: selectedNode()">
                    <a href="#" data-bind="click: createSitemapNode"><span><i class="fa fa-plus fa-fw"></i> Neue Seite</span></a>
                </li>
                <li data-bind="if: selectedNode()">
                    <a href="#" data-bind="click: deleteSitemapNode"><span><i class="fa fa-trash-o fa-fw"></i> Seite löschen</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/html" id="NodesTemplate">
    <ul data-bind="foreach: $data" class="list-unstyled tree-branch">        
        <li data-bind="if: !entityAspect.entityState.isDeleted()">
            <div>
                <a href="#" data-bind="text: getResource('de').Title, click: $root.selectNode"></a>
            </div>

            <!-- ko if: childNodes && childNodes().length > 0 -->
            <!-- ko template: { name: 'NodesTemplate', data: childNodes() } --><!-- /ko -->
            <!-- /ko -->
        </li>        
    </ul>
</script>
