<div id="sitemap-index" class="app-page bottom-fixed-navbar-container">

    <div class="panel-padding-h subnav-fixed-top-container">
        <div class="row subnav-fixed-top sitemap-index-header">
            <div class="col-md-12">
                <ul class="list-inline pull-left">
                    <li>
                        <a href="#" data-bind="click: editWebsite"><i class="fa fa-cog"></i> Website</a>
                    </li>
                    <li>
                        <!-- ko if: siteMapVersions() -->
                        <select data-bind="options: siteMapVersions, optionsCaption: 'Version wählen', optionsText: 'title', value: selectedSiteMap"></select>
                        <!-- /ko -->
                    </li>
                    <li>
                        <a href="#" data-bind="click: createSiteMapVersion"><i class="fa fa-plus"></i> Neue Version</a>
                    </li>
                    <li data-bind="if: selectedSiteMap()">
                        <a href="#" data-bind="click: deleteSiteMapVersion"><i class="fa fa-trash-o"></i> Version verwerfen</a>
                    </li>
                </ul>

                <div class="pull-left">
                    <!-- ko if: selectedSiteMap() -->
                    <span data-bind="visible: !selectedSiteMap().entity().PublishedFrom()">
                        Nicht veröffentlicht <a href="#" data-bind="click: publishSiteMapVersion"><i class="fa fa-share-square-o"></i> Jetzt veröffentlichen</a>
                    </span>
                    <span data-bind="visible: selectedSiteMap().entity().PublishedFrom()">
                        Veröffentlicht <span data-bind="text: selectedSiteMap().publishedFromNow()"></span>
                    </span>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-2 fixed-sidebar left-fixed-sidebar sitemap-index-sidebar">
                <div data-bind="forceViewportHeight: { minWidth: 992 }, scrollTop: { observable: listScrollState.scrollTop, enabled: listScrollState.isEnabled }" class="panel-scroll-vh">
                    <!-- ko if: selectedSiteMap() && selectedSiteMap().tree() -->
                    <!-- ko template: { name: 'NodesTemplate', data: selectedSiteMap().tree().rootNodes() } --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>

            <div class="col-md-offset-3 col-lg-offset-2 col-md-6 col-lg-8">
                <!-- ko if: selectedNode() && teasers() && teasers().length -->
                <h5>Aufmacher (<!-- ko text: teasers().length --><!-- /ko -->)</h5>
                <ul class="list-unstyled list-icons" data-bind="foreach: teasers">
                    <li data-bind="click: selectTeaser, css: { 'selected': isSelected() }">
                        <div class="list-icons-tile">
                            <i class="fa fa-star fa-4x"></i>
                        </div>
                        <div class="list-icons-label">
                            <!-- ko text: entity.localeTitle('de') --><!-- /ko -->
                        </div>
                    </li>
                </ul>
                <!-- /ko -->
                <!-- ko if: selectedPublication() -->
                <section class="draft-preview-content sitemap-index">
                    <!-- ko with: selectedPublication() -->
                    <!-- ko if: template() -->
                    <!-- ko foreach: { data: template().rows, as: 'row' } -->
                    <div class="row">
                        <!-- ko foreach: { data:row.cells, as: 'cell' } -->
                        <div data-bind="draftTemplateClass: cell">
                            <div class="template-preview-cell" data-bind="html: $parents[1].findContentPart(cell)"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </section>
                <!-- /ko -->
                <!-- ko if: selectedPublication() && selectedPublication().files().length -->
                <div data-bind="with: selectedPublication()">
                    <h5>Dateien (<!-- ko text: files().length --><!-- /ko -->)</h5>
                    <ul class="list-inline" data-bind="foreach: files()">
                        <li data-bind="if: getResource('de') && getResource('de').FileVersion() && getResource('de').FileVersion().File()">
                            <i class="fa fa-file"></i> <!-- ko text: getResource('de').FileVersion().File().FileName --><!-- /ko -->
                        </li>
                    </ul>
                </div>
                <!-- /ko -->
            </div>

            <div class="col-md-3 col-lg-2 fixed-sidebar right-fixed-sidebar sitemap-index-sidebar" data-bind="if: properties()">
                <h5 data-bind="text: properties().entity.localeTitle('de')"></h5>
                <!-- ko with: properties() -->
                <!-- ko if: entity.canHaveContent() -->
                <ul class="list-unstyled">
                    <!-- ko if: hasContent -->
                    <li>
                        <a href="#" data-bind="click: editContent"><i class="fa fa-edit fa-fw"></i> <span data-bind="attr: { title: contentSummary() + ' ' + authorSummary() }">Inhalt bearbeiten</span></a>
                    </li>
                    <!-- /ko -->
                    <li>
                        <a href="#" data-bind="click: selectContent"><i class="fa fa-arrow-right fa-fw"></i> Inhalt festlegen...</a>
                    </li>
                </ul>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: selectedPublication() && selectedNode() && selectedNode().canLinkTo() -->
                <div>
                    <h5>Adresse</h5>
                    <p>
                        <span>caps://publication/<!-- ko text: selectedNode().PermanentId() --><!-- /ko --></span>
                    </p>
                </div>
                <!-- /ko -->
                <ul class="list-unstyled">
                    <li>
                        <a href="#" data-bind="click: properties().edit"><i class="fa fa-edit fa-fw"></i> Eigenschaften</a>
                    </li>
                </ul>
                <!-- ko with: properties() -->
                <!-- ko if: hasOptions -->
                <h5>Optionen</h5>
                <ul class="list-unstyled">
                    <!-- ko if: canCreateTeaser() -->
                    <li>
                        <a href="#" data-bind="click: createTeaser"><i class="fa fa-arrow-right fa-fw"></i> Auf Startseite platzieren</a>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: entity.isTeaser() -->
                    <li>
                        <a href="#" data-bind="click: deleteTeaser"><i class="fa fa-trash-o fa-fw"></i> Aufmacher löschen</a>
                    </li>
                    <!-- /ko -->
                </ul>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li data-bind="if: selectedNode()">
                    <a href="#" data-bind="click: createSiteMapNode"><span><i class="fa fa-plus fa-fw"></i> Neue Seite</span></a>
                </li>
                <li data-bind="if: selectedNode()">
                    <a href="#" data-bind="click: moveSelectedNode"><span><i class="fa fa-arrows fa-fw"></i> Seite verschieben</span></a>
                </li>
                <li data-bind="if: selectedNode()">
                    <a href="#" data-bind="click: moveSelectedNodeUp" title="Nach oben"><span><i class="fa fa-arrow-up fa-fw"></i></span></a>
                </li>
                <li data-bind="if: selectedNode()">
                    <a href="#" data-bind="click: moveSelectedNodeDown" title="Nach unten"><span><i class="fa fa-arrow-down fa-fw"></i></span></a>
                </li>
                <li data-bind="if: selectedNode()">
                    <a href="#" data-bind="click: deleteSiteMapNode"><span><i class="fa fa-trash-o fa-fw"></i> Seite löschen</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/html" id="NodesTemplate">
    <ul data-bind="foreach: $data" class="list-unstyled tree-branch">
        <!-- ko if: !(entity() && entity().NodeType().toLowerCase() === 'teaser') -->
        <li data-bind="if: !entity().entityAspect.entityState.isDeleted()">
            <div class="tree-node" data-bind="css: { 'tree-node-selected': isSelected }, scrollIntoViewTrigger: { source: scrollIntoViewRequest }">
                <div class="tree-node-toggle pull-left">
                    <a href="#" data-bind="click: toggleIsExpanded">
                        <i class="fa fa-fw" data-bind="css: { 'fa-plus': !isExpanded() && hasChildNodes(), 'fa-minus': isExpanded() && hasChildNodes() }"></i>
                    </a>
                </div>
                <div class="tree-node-label" data-bind="click: selectNode">
                    <i class="fa fa-file-text fa-fw"></i> <span data-bind="text: entity().localeTitle('de')"></span>
                </div>
            </div>

            <!-- ko if: isExpanded() && hasChildNodes() -->
            <!-- ko template: { name: 'NodesTemplate', data: childNodes() } --><!-- /ko -->
            <!-- /ko -->
        </li>
        <!-- /ko -->
    </ul>
</script>
