<div class="app-page bottom-fixed-navbar-container">
    <div class="panel-padding-h">
        <div class="row">
            <div class="col-md-12">
                <h1>Seite wählen</h1>
                <form class="form-inline" role="form">
                    <!-- ko if: website() -->
                    <div class="form-group">
                        <label for="siteMapVersion" class="control-label">Sitemap</label>
                        <select id="siteMapVersion" data-bind="options: siteMaps, optionsText: 'title', optionsCaption: 'Version wählen...', value: selectedSiteMap, enable: siteMapSelectionEnabled" class="form-control" style="width:auto"></select>
                    </div>
                    <!-- /ko -->
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-padding-v">
                    <!-- ko if: selectedSiteMap() && selectedSiteMap().tree() -->
                    <!-- ko template: { name: 'NodesTemplate2', data: selectedSiteMap().tree().rootNodes() } --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: selectCancel"><span><i class="fa fa-arrow-left fa-fw"></i> Abbrechen</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: selectOk"><span><i class="fa fa-save fa-fw"></i> <!-- ko text: okTitle --><!-- /ko --></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<script type="text/html" id="NodesTemplate2">
    <ul data-bind="foreach: $data" class="list-unstyled tree-branch">
        <li data-bind="if: $root.isNodeEnabled(entity()) && !entity().entityAspect.entityState.isDeleted()">
            <div class="tree-node" data-bind="css: { 'tree-node-selected': isSelected }">
                <div class="tree-node-toggle pull-left">
                    <a href="#" data-bind="click: toggleIsExpanded">
                        <i class="fa fa-fw" data-bind="css: { 'fa-plus': !isExpanded() && hasChildNodes(), 'fa-minus': isExpanded() && hasChildNodes() }"></i>
                    </a>
                </div>
                <div class="tree-node-label" data-bind="click: selectNode">
                    <i class="fa fa-file-text fa-fw"></i> <span data-bind="text: entity().getResource('de').Title"></span>
                </div>
            </div>

            <!-- ko if: isExpanded() && hasChildNodes() -->
            <!-- ko template: { name: 'NodesTemplate2', data: childNodes() } --><!-- /ko -->
            <!-- /ko -->
        </li>
    </ul>
</script>