<div class="messageBox" id="change-password-dlg">
    <div class="modal-header">
        <h3>Passwort ändern</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <form data-bind="submit: ok">
                <p class="message">Das Passwort muss mindestens 6 Zeichen lang sein.</p>            
                <!-- ko composeEditor: { field: oldPassword, title: 'Altes Passwort', valueUpdate: 'afterkeydown', css: 'span12 autofocus' } --><!-- /ko -->
                <!-- ko composeEditor: { field: newPassword, title: 'Neues Passwort', valueUpdate: 'afterkeydown', css: 'span12' } --><!-- /ko -->
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok">Passwort ändern</button>
        <button class="btn" data-bind="click: cancel">Abbrechen</button>
    </div>
</div>