<div class="modal-content messageBox" id="change-password-dlg">
    <div class="modal-header">
        <h4>Passwort ändern</h4>
    </div>
    <div class="modal-body">
        <form data-bind="submit: ok">
            <p class="message">Das Passwort muss mindestens 6 Zeichen lang sein.</p>            
            <!-- ko composeEditor: { field: oldPassword, title: 'Altes Passwort', valueUpdate: 'afterkeydown', css: 'form-control autofocus', type: 'password' } --><!-- /ko -->
            <!-- ko composeEditor: { field: newPassword, title: 'Neues Passwort', valueUpdate: 'afterkeydown', css: 'form-control', type: 'password' } --><!-- /ko -->
            <!-- ko composeEditor: { field: confirmPassword, title: 'Neues Passwort bestätigen', valueUpdate: 'afterkeydown', css: 'form-control', type: 'password' } --><!-- /ko -->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok">Passwort ändern</button>
        <button class="btn btn-default" data-bind="click: cancel">Abbrechen</button>
    </div>
</div>