<div class="messageBox" id="change-password-dlg">
    <div class="modal-header">
        <h4>Passwort ändern</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form data-bind="submit: ok">
                <p class="message">Das Passwort muss mindestens 6 Zeichen lang sein.</p>            
                <!-- ko composeEditor: { field: oldPassword, title: 'Altes Passwort', valueUpdate: 'afterkeydown', css: 'form-control col-md-12 autofocus' } --><!-- /ko -->
                <!-- ko composeEditor: { field: newPassword, title: 'Neues Passwort', valueUpdate: 'afterkeydown', css: 'form-control col-md-12' } --><!-- /ko -->
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok">Passwort ändern</button>
        <button class="btn btn-default" data-bind="click: cancel">Abbrechen</button>
    </div>
</div>