<div id="user-profile" class="app-page bottom-fixed-navbar-container">

    <div class="container-fluid">
        <h2><!-- ko text: user().fullName --><!-- /ko --> <small>Mein Profil</small></h2>
        <div class="well">
            <p>
                Letzte Passwort-Änderung: <span data-bind="text: lastPasswordChangedDateFormatted, attr: { title: moment(user().lastPasswordChangedDate()).format('LLLL') }"></span><br />
                <a href="#" data-bind="click: changePassword">Passwort ändern</a>
            </p>
        </div>
    </div>    

    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <a href="#" data-bind="click: logOff">
                        <i class="icon-fixed-width icon-off"></i> Abmelden</a>
                </li>
            </ul>
        </div> 
    </div>
</div>