<div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
            <i class="icon-cog icon-2x icon-spin"></i>
        </div>

        <ul id="nav-user" class="nav navbar-nav pull-right" data-bind="visible: authentication.isAuthenticated">
            <li><a href="/#profile"><strong data-bind="text: authentication.user().displayName()"></strong></a></li>
            <li><a href="#" data-bind="click: logOff, clickBubble: false" title="Abmelden"><i class="icon-fixed-width icon-off"></i></a></li>                    
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" data-bind="visible: authentication.isAuthenticated">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" data-bind="attr: { href: router.routes[0].hash }">
                <strong>CAPS</strong>
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right" data-bind="foreach: navigationItems">
                <li data-bind="css: { active: isActive }, template: { name: $parent.navigationItemTemplate }"></li>
            </ul>
        </div>
    </div>
    
    <div class="page-host">
        <!--ko router: { transition:'entrance', cacheViews:true }--><!--/ko-->
    </div>
</div>

<script type="text/html" id="default-tile">
    <a data-bind="attr: { href: hash }, html: title"></a>
</script>

<script type="text/html" id="module-tile">
    <a href="#" data-bind="click: $parent.showModule"><!-- ko text: title --><!-- /ko --> <i class="icon-fixed-width icon-save" data-bind="visible: hasUnsavedChanges"></i></a>    
</script>