<div class="app-page bottom-fixed-navbar-container">
    <!-- ko if: website() -->
    <div class="page-content">
        <h1>Meine Website</h1>

        <div class="form-group">
            <label>Name</label>
            <input type="text" data-bind="value: website().Name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Adresse</label>
            <input type="text" data-bind="value: website().Url" class="form-control" />
        </div>

        <h2>Entwurfs-Vorlagen</h2>
        <ul data-bind="foreach: website().DraftTemplates" class="list-group">
            <li class="list-group-item">
                <a href="#" data-bind="click: $parent.editTemplate"><i class="fa fa-columns"></i> <!-- ko text: Name --><!-- /ko --></a>
            </li>
        </ul>

        <a href="#" data-bind="click: addTemplate" class="btn btn-link"><i class="fa fa-plus"></i> Vorlage hinzufügen</a>
    </div>


    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: navigateBack"><i class="fa fa-arrow-left"></i> Zurück</a>
                </li>
                <li>
                    <a href="#" data-bind="click: saveChanges"><i class="fa fa-save"></i> Speichern</a>
                </li>
            </ul>
        </div>
    </div> 
    <!-- /ko -->
</div>