
.splash-host {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#333333;
    color:#fff;
}

.splash {
    position:fixed;
    top:50%;
    left:50%;
    width:50%;
    height:50%;
}

.splash-content {
    position:relative;
    width: 100%;
    height: 100%;
    top:-50%;
    left:-50%;
    text-align: center;
}

.splash-message {
    font-size: 3em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    max-width:none;
}

.splash-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    color:#fff;
    padding:25px 0 35px;
    min-height:1em;
    box-sizing:border-box;
}

.splash-footer {
    font-size:1.75em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    max-width:none;
}

.brand {  
}

#login-form {
    margin:25px 0 0;
}

.page-host {
    position: relative;
    top: 40px;
}

.app-page {
    position:relative;    
    padding-top:10px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-fixed-bottom .navbar-inner {
    padding-right: 15px;
}

.navbar-panel {
    margin: 0 10px 0 20px;
}
.navbar-panel.pull-right {
    margin: 0 10px 0 10px;
}

    .navbar-inverse .navbar-panel.navbar-text a,
    .navbar-inverse .navbar-panel.navbar-text a:active,
    .navbar-inverse .navbar-panel.navbar-text a:visited {
        color:#999;
        text-decoration:none;
    }
    .navbar-inverse .navbar-panel.navbar-text a:hover {
        color:#fff;
    }

.subnav {
    padding-top: 10px;
}

.bottom-fixed-navbar-container {
    padding-bottom:50px;
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

a.no-underline,
a.no-underline:active,
a.no-underline:visited,
a.no-underline:hover {
    text-decoration:none;
}

.user-online {
    color:#3a7921;
}

.user-offline {
    color:#ccc;
}

.cursor-default {
    cursor:default;
}

.messageBox {
    width: 460px;
}

.title-with-back-link {
    margin-left:-.75em;
}

.table .vertical-centered {
    vertical-align:middle;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }

    .app-page {
        padding-top:0;
    } 

    .title-with-back-link {
        margin-left:0;
    }

    .bottom-fixed-navbar-container {
        padding-bottom:0;
    }
}


@media (max-width: 767px) {
    .full-width-on-phone {
        position:relative;
        margin-left:-20px;
        margin-right:-20px;
    }
        .full-width-on-phone .table tr td:first-child {
            padding-left:20px;
        }
        .full-width-on-phone .table tr td:last-child {
            padding-right:20px;
        }


    .navbar-panel {
        margin: 0 8px 0 0;
    }
    .navbar-panel.pull-right {
        margin: 0 0 0 8px;
    }
    .navbar-fixed-bottom .navbar-inner {
        padding-right: 15px;
    }
}