

html, body {
    min-width:280px;
}

.splash-host {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#333333;
    color:#fff;
}

.splash {
    position:fixed;
    top:50%;
    left:50%;
    width:50%;
    height:50%;
}

.splash-content {
    position:relative;
    width: 100%;
    height: 100%;
    top:-55%;
    left:-50%;
    text-align: center;
    overflow:hidden;
}

.splash-message {
    font-size: 2.75em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    max-width:none;
}

.splash-spinner {
    text-align: center;
    display: block;
    color:#fff;
    margin:20px 0 20px;
}

.splash-footer {
    font-size:1.5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    max-width:none;
}

#login-form {
    margin:25px 0 0;
}

.page-host {
    position: relative;
    top: 40px;
}

.app-page {
    position:relative;    
    padding-top:10px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-fixed-bottom .navbar-inner {
    padding-right: 15px;
}

.navbar-panel {
    margin: 0 10px 0 20px;
}
.navbar-panel.pull-right {
    margin: 0 10px 0 10px;
}

    .navbar-inverse .navbar-panel.navbar-text a,
    .navbar-inverse .navbar-panel.navbar-text a:active,
    .navbar-inverse .navbar-panel.navbar-text a:visited {
        color:#999;
        text-decoration:none;
    }
    .navbar-inverse .navbar-panel.navbar-text a:hover {
        color:#fff;
    }

.subnav {
    padding-top: 10px;
}

#nav-user li {
    float:left;
}
    #nav-user li a {
        max-width: 120px;
        overflow:hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

#nav-user a.nav-btn,
#nav-user a.nav-btn:active,
#nav-user a.nav-btn:visited,
#nav-user a.nav-btn:hover {
    padding:9px 0 0px;
    font-size:85%;
}

.bottom-fixed-navbar-container {
    padding-bottom:50px;
}

.loader {
    margin: 5px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

a.no-underline,
a.no-underline:active,
a.no-underline:visited,
a.no-underline:hover {
    text-decoration:none;
}

.user-online {
    color:#3a7921;
}

.user-offline {
    color:#ccc;
}

.cursor-default {
    cursor:default;
}

.messageBox {
    max-width:100%;
    min-width:400px;
}

.title-with-back-link {
    margin-left:-.75em;
}

.full-height {
    margin-bottom:0;
}

.table .vertical-centered {
    vertical-align:middle;
}

.table td .cell-warning {
    color:red;
    display:inline-block;
}

.icon-stack2 {
    display:inline-block;
    position:relative;
}

.icon-overlay {
    position:absolute;
    right:-3px;
    bottom:-1px;
    color:red;
}

.error-summary {
    display:inline-block;
    vertical-align:middle;
    background:red;
    color:#fff;
    font-weight:bold;
    padding:5px 12px;
    cursor:default;
    line-height:20px;
}

.form-status p {
    line-height:20px;
    padding:5px 0;
    margin:0;
}

p.message > strong {
    font-weight:bold;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }

    .app-page {
        padding-top:0;
    } 

    .title-with-back-link {
        margin-left:0;
    }

    .bottom-fixed-navbar-container {
        padding-bottom:0;
    }
}


@media (max-width: 767px) {
    .full-width-on-phone {
        position:relative;
        margin-left:-20px;
        margin-right:-20px;
    }
        .full-width-on-phone .table tr td:first-child {
            padding-left:20px;
        }
        .full-width-on-phone .table tr td:last-child {
            padding-right:20px;
        }


    .navbar-panel {
        margin: 0 8px 0 0;
    }
    .navbar-panel.pull-right {
        margin: 0 0 0 8px;
    }
    .navbar-fixed-bottom .navbar-inner {
        padding-right: 15px;
    }

    .navbar .nav li {
        float:none;
    }
    .navbar .nav {
        margin-right:0px;
    }
    
    .loader {
        margin-left:0;
        margin-right:0;
    }

    .messageBox {
        min-width: 300px;
        max-width: 100%;
    }

    .table td .cell-warning {
        display:block;
    }
}

@media (max-width: 320px) {

    #nav-user li a {
        max-width: 80px;
    }
}