<div class="app-page app-page-nav-bottom">
    <div class="panel-padding-h">

        <div class="row">
            <div class="col-md-12 panel-heading">
                <h3>Inhalt <strong data-bind="text: draft().Name"></strong> <span class="light-text">(<!-- ko text: 'v.' + draft().Version() --><!-- /ko -->)</span> veröffentlichen</h3>
                <!--<p class="text-padding-right">Wähle die Ziel-Seite und klicke auf <em>&quot;Neue Seite erstellen&quot;</em>, um eine neue Seite unterhalb der Ziel-Seite zu platzieren oder <em>&quot;Inhalt ersetzen&quot;</em>, um den Inhalt der Ziel-Seite durch <em>&quot;<span data-bind="text: draft().Name() + ' (v.' + draft().Version() + ')'"></span>&quot;</em> zu ersetzen.</p>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-5 panel-border-right">
                <div>
                    <h4>Ziel-Seite wählen</h4>
                    <!-- ko compose: siteMapTree --><!-- /ko -->
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <div>
                    <!-- ko if: publications().length > 0 -->
                    <h4>Vorhandene Seiten aktualisieren</h4>
                    <div class="space-tb">
                        <ul data-bind="foreach: publications()" class="list-unstyled">
                            <li>
                                <i class="fa fa-share-square-o"></i> <span data-bind="text: title" />
                                (<em data-bind="text: modifiedBy"></em> <em data-bind="text: modifiedAt"></em>, <em data-bind="text: contentVersion"></em>)
                                <!-- ko if: isOutdated -->
                                &nbsp;<a href="#" data-bind="click: republish"><i class="fa fa-refresh"></i> Aktualisieren</a>
                                <!-- /ko -->
                            </li>
                        </ul>
                    </div>
                    <!-- ko if: hasOutdatedPublications -->
                    <div class="space-tb">
                        <a href="#" class="btn btn-default"><i class="fa fa-refresh"></i> Alle aktualisieren</a>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li class="nav-separator-right">
                    <a href="#" data-bind="click: selectCancel"><span><i class="fa fa-arrow-left fa-fw"></i> Abbrechen</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: selectCreateNew"><span><i class="fa fa-plus fa-fw"></i> Neue Seite erstellen</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: selectLink"><span><i class="fa fa-recycle fa-fw"></i> Inhalt ersetzen</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>