<div id="drafts-index" class="app-page bottom-fixed-navbar-container">
    
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <ul data-bind="foreach: items" class="data-list">
                    <li data-bind="css: { active: isSelected() }, click: $parent.selectDraft">
                        <div class="pull-right">
                            <span data-bind="text: createdAt"></span>
                        </div>
                        <span data-bind="text: title"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-lg-9 draft-preview">
                <!-- ko if: draftPreview() -->
                <!-- ko template: { name: 'DraftPreviewTemplate', data: draftPreview() } --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
        
    <div class="navbar navbar-default navbar-fixed-bottom">        
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click:addDraft"><span><i class="fa fa-plus fa-fw"></i> Neuer Entwurf</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:editSelectedDraft"><span><i class="fa fa-edit fa-fw"></i> Entwurf bearbeiten</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:publishDraft"><span><i class="fa fa-share fa-fw"></i> Entwurf veröffentlichen</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/html" id="DraftPreviewTemplate">
    <div class="row">
        <div class="col-md-12">
            <p>
                <small data-bind="text: entity().Modified().By"></small> <small data-bind="text: modifiedFromNow(), attr: { title: modifiedAt() }"></small>
            </p>
            <h4><!-- ko text: resource().Title --><!-- /ko --> <small data-bind="text: entity().Name() + ' (v.' + entity().Version() + ')'"></small></h4>
            <p>
                Original: <span data-bind="text: defaultCulture.localeName('de')"></span>,

                <span>Übersetzungen: </span>
                <!-- ko foreach: supportedTranslations -->
                <a data-bind="text: localeName('de'), click: $parent.translateDraft" href="#"></a>
                <!-- /ko -->
            </p>
        </div>
    </div>
    <section class="draft-preview-content">
        <!-- ko foreach: { data: template().rows, as: 'row' } -->
        <div class="row">
            <!-- ko foreach: { data:row.cells, as: 'cell' } -->
            <div data-bind="draftTemplateClass: cell">
                <div data-bind="template: { name: $parents[1].getContentTemplateName($data) }" class="template-preview-cell"></div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </section>
    <!-- ko if: entity().Files().length > 0 -->
    <div class="row draft-preview-panel" data-bind="with: entity()">
        <div class="col-md-12">
            <p>
                Dateien (<!-- ko text: Files().length --><!-- /ko -->):
            </p>
            <ul data-bind="foreach: Files()" class="list-inline">
                <li>
                    <i class="fa fa-file"></i> <span data-bind="text: Name" />
                </li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: publications().length > 0 -->
    <div class="row draft-preview-panel">
        <div class="col-md-12">
            <p>
                Veröffentlichungen (<!-- ko text: publications().length --><!-- /ko -->):
            </p>
            <ul data-bind="foreach: publications()" class="list-unstyled">
                <li>
                    <i class="fa fa-share-square-o"></i> <span data-bind="text: title" /> 
                    (<em data-bind="text: createdBy"></em> <em data-bind="text: createdAt"></em>, <em data-bind="text: contentVersion"></em>)
                    <!-- ko if: isOutdated -->
                    &nbsp;<a href="#" data-bind="click: republish"><i class="fa fa-refresh"></i> Aktualisieren</a>
                    <!-- /ko -->
                </li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="CT_HTML">
    <div data-bind="html: $parents[1].getContent($data)"></div>
</script>

<script type="text/html" id="CT_MARKDOWN">
    <div data-bind="markdown: $parents[1].getContent($data)"></div>
</script>

<script type="text/html" id="CT_TEXT">
    <pre data-bind="text: $parents[1].getContent($data)"></pre>
</script>