<div id="drafts-index" class="app-page bottom-fixed-navbar-container">
    
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Entwürfe durchsuchen..." data-bind="delayedSearch: { searchObservable: searchWords, searchHandler: search }" />
                        <div class="input-group-btn btn-group split-btn">
                            <a href="#" role="button" data-bind="click: sortOptions.toggleSortDirection">
                                <span><i data-bind="css: { 'fa-sort-alpha-asc': sortOptions.sortDirection() == 'asc', 'fa-sort-alpha-desc': sortOptions.sortDirection() != 'asc' }" class="fa fa-fw"></i></span></a>
                            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#" class="btn-dropdown"><b class="caret" /></a>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                <!-- ko foreach: sortOptions.columns -->
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" data-bind="click: sort">
                                        <span class="pull-right" data-bind="visible: isSelected"><i class="fa fa-check"></i></span>
                                        <span data-bind="text: title" class="mnu-label"></span>
                                    </a>
                                </li>
                                <!-- /ko -->
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="click: sortOptions.sortAsc"><span class="pull-right" data-bind="visible: sortOptions.sortDirection() == 'asc'"><i class="fa fa-check"></i></span> Aufsteigend</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="click: sortOptions.sortDesc"><span class="pull-right" data-bind="visible: sortOptions.sortDirection() == 'desc'"><i class="fa fa-check"></i></span> Absteigend</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul data-bind="foreach: items" class="data-list">
                    <li data-bind="css: { active: isSelected() }, click: $parent.selectDraft">
                        <div class="pull-right">
                            <small data-bind="text: modifiedAt"></small>
                        </div>
                        <span data-bind="text: title"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-lg-9 draft-preview">
                <!-- ko if: draftPreview() -->
                <!-- ko template: { name: 'DraftPreviewTemplate', data: draftPreview() } --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
        
    <div class="navbar navbar-default navbar-fixed-bottom">        
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click:addDraft"><span><i class="fa fa-plus fa-fw"></i> Neuer Entwurf</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:editSelectedDraft"><span><i class="fa fa-edit fa-fw"></i> Entwurf bearbeiten</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:publishDraft"><span><i class="fa fa-share fa-fw"></i> Entwurf veröffentlichen</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:deleteDraft"><span><i class="fa fa-trash-o fa-fw"></i> Entwurf löschen</span></a>
                </li>
            </ul>
        </div>

        <div class="navbar-panel pull-right">
            <div class="navbar-text">
                <span data-bind="text: items().length"></span> Entwürfe
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" title="Aktualisieren" data-bind="click: refresh"><i class="fa fa-refresh fa-fw" data-bind="css: { 'fa-spin': isLoading }"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/html" id="DraftPreviewTemplate">
    <div class="row">
        <div class="col-md-12">
            <p>
                <small data-bind="text: entity().Modified().By"></small> <small data-bind="text: modifiedFromNow(), attr: { title: modifiedAt() }"></small>
            </p>
            <h4><!-- ko text: resource().Title --><!-- /ko --> <small data-bind="text: entity().Name() + ' (v.' + entity().Version() + ')'"></small></h4>
            <p>
                Original: <span data-bind="text: defaultCulture.localeName('de')"></span>,

                <span>Übersetzungen: </span>
                <!-- ko foreach: supportedTranslations -->
                <a data-bind="text: localeName('de'), click: $parent.translateDraft" href="#"></a>
                <!-- /ko -->
            </p>
        </div>
    </div>
    <section class="draft-preview-content">
        <!-- ko foreach: { data: template().rows, as: 'row' } -->
        <div class="row">
            <!-- ko foreach: { data:row.cells, as: 'cell' } -->
            <div data-bind="draftTemplateClass: cell">
                <div class="template-preview-cell" data-bind="html: content"></div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </section>
    <!-- ko if: entity().Files().length > 0 -->
    <div class="row draft-preview-panel" data-bind="with: entity()">
        <div class="col-md-12">
            <p>
                Dateien (<!-- ko text: Files().length --><!-- /ko -->):
            </p>
            <ul data-bind="foreach: Files()" class="list-inline">
                <li>
                    <i class="fa fa-file"></i> <span data-bind="text: Name" />
                </li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: publications().length > 0 -->
    <div class="row draft-preview-panel">
        <div class="col-md-12">
            <p>
                Veröffentlichungen (<!-- ko text: publications().length --><!-- /ko -->):
            </p>
            <ul data-bind="foreach: publications()" class="list-unstyled">
                <li>
                    <i class="fa fa-share-square-o"></i> <span data-bind="text: title" /> 
                    (<em data-bind="text: createdBy"></em> <em data-bind="text: createdAt"></em>, <em data-bind="text: contentVersion"></em>)
                    <!-- ko if: isOutdated -->
                    &nbsp;<a href="#" data-bind="click: republish"><i class="fa fa-refresh"></i> Aktualisieren</a>
                    <!-- /ko -->
                </li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
</script>