<div id="drafts-index" class="app-page bottom-fixed-navbar-container">

    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-4 col-lg-3 left-fixed-sidebar">
                <!-- ko compose: { model: searchControl } --><!-- /ko -->
                <div data-bind="forceViewportHeight: { minWidth: 992 }, scrollTop: { observable: draftListScrollState.scrollTop, enabled: draftListScrollState.isEnabled }" class="panel-scroll-v">
                    <ul data-bind="foreach: items" class="data-list">
                        <li data-bind="css: { active: isSelected() }, click: $parent.selectDraft, scrollIntoViewTrigger: { source: scrollIntoViewRequest }">
                            <div class="pull-left">
                                <i class="fa fa-file-text-o fa-fw"></i>
                            </div>
                            <div class="pull-right">
                                <small data-bind="text: modifiedAt"></small>
                            </div>
                            <div class="data-list-label text-ellipsis">
                                <span data-bind="text: title"></span>
                            </div>
                            <div class="data-list-label">
                                <small data-bind="text: status"></small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-offset-4 col-lg-offset-3 col-md-8 col-lg-9 draft-preview hidden-xs hidden-sm">
                <!-- ko if: draftPreview() -->
                <!-- ko template: { name: 'DraftPreviewTemplate', data: draftPreview() } --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click:addDraft"><span><i class="fa fa-plus fa-fw"></i> Neuer Inhalt</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:editSelectedDraft"><span><i class="fa fa-edit fa-fw"></i> Inhalt bearbeiten</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:publishDraft"><span><i class="fa fa-share fa-fw"></i> Inhalt veröffentlichen</span></a>
                </li>
                <li data-bind="visible: selectedItem()">
                    <a href="#" data-bind="click:deleteDraft"><span><i class="fa fa-trash-o fa-fw"></i> Inhalt löschen</span></a>
                </li>
            </ul>
        </div>

        <div class="navbar-panel pull-right">
            <div class="navbar-text">
                <span data-bind="text: items().length"></span> Inhalte
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" title="Aktualisieren" data-bind="click: refresh"><i class="fa fa-refresh fa-fw" data-bind="css: { 'fa-spin': isLoading }"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/html" id="DraftPreviewTemplate">
    <div class="row">
        <div class="col-md-12">
            <p>
                <small data-bind="text: entity().Modified().By"></small> <small data-bind="text: modifiedFromNow(), attr: { title: modifiedAt() }"></small>
            </p>
            <h4><!-- ko text: entity().Name() --><!-- /ko --> <small data-bind="text: 'v.' + entity().Version()"></small></h4>
            <p>
                <span>Status: </span>
                <!-- ko text: entity().statusTitle() --><!-- /ko -->
            </p>
        </div>
    </div>
    <section class="draft-preview-content">
        <!-- ko foreach: { data: template().rows, as: 'row' } -->
        <div class="row">
            <!-- ko foreach: { data:row.cells, as: 'cell' } -->
            <div data-bind="draftTemplateClass: cell">
                <div class="template-preview-cell" data-bind="html: content"></div>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </section>
    <!-- ko if: entity().Files().length > 0 -->
    <div class="row draft-preview-panel" data-bind="with: entity()">
        <div class="col-md-12">
            <h6>Dateien (<!-- ko text: Files().length --><!-- /ko -->)</h6>
            <ul data-bind="foreach: Files()" class="list-inline">
                <li><i class="fa fa-file"></i> <span data-bind="text: Name" /></li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: supportedTranslations.length -->
    <div class="row draft-preview-panel">
        <div class="col-md-12">
            <h6>Übersetzungen (Original: <!-- ko text: originalLanguage.localeName('de') --><!-- /ko -->)</h6>            
            <p>
                <!-- ko foreach: supportedTranslations -->
                <a data-bind="text: localeName('de'), click: $parent.translateDraft" href="#"></a>
                <!-- /ko -->
            </p>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: entity().Notes() && entity().Notes().length -->
    <div class="row draft-preview-panel" data-bind="with: entity()">
        <div class="col-md-12">
            <h6>Notizen</h6>
            <pre data-bind="text: Notes"></pre>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: publications().length > 0 -->
    <div class="row draft-preview-panel">
        <div class="col-md-12">
            <h6>Veröffentlichungen (<!-- ko text: publications().length --><!-- /ko -->)</h6>
            <ul data-bind="foreach: publications()" class="list-unstyled">
                <li>
                    <i class="fa fa-share-square-o"></i> <span data-bind="text: title" /> 
                    (<em data-bind="text: createdBy"></em> <em data-bind="text: createdAt"></em>, <em data-bind="text: contentVersion"></em>)
                    <!-- ko if: isOutdated -->
                    &nbsp;<a href="#" data-bind="click: republish"><i class="fa fa-refresh"></i> Aktualisieren</a>
                    <!-- /ko -->
                </li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
</script>