<div class="app-page bottom-fixed-navbar-container">
    <div class="panel-padding-h">
        <h1>Wähle eine Vorlage</h1>

        <div class="row">
            <div class="col-md-8">
                <div class="row" data-bind="foreach: listItems">
                    <div class="col-xs-4 col-md-3 col-lg-2" data-bind="css: { 'item-selected': isSelected }">
                        <div class="thumbnail">
                            <img data-bind="attr: { alt: name, src: icon }, click: $parent.selectTemplate" class="clickable" />
                            <div class="caption">
                                <h4 data-bind="text: title"></h4>
                                <a href="#" data-bind="click: $parent.selectTemplate">Vorlage wählen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" data-bind="value: draftName" />
                </div>

                <!-- ko if: selectedItem() && selectedItem().template.parameters -->
                <!-- ko foreach: selectedItem().template.parameters -->
                <div class="form-group">
                    <label class="control-label" data-bind="text: title"></label>
                    <input type="text" class="form-control" data-bind="value: value" />
                </div>
                <!-- /ko -->
                <!-- /ko -->

                <p>
                    <button class="btn btn-primary btn-lg" data-bind="click: createDraft">Erstellen</button>
                </p>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: cancel"><span><i class="fa fa-arrow-left"></i> Abbrechen</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>