<div class="app-page app-page-nav-bottom">
    <div class="panel-padding-h">
        <h2>Wähle eine Vorlage</h2>

        <div class="row">
            <div class="col-md-8">
                <div class="row" data-bind="foreach: listItems" style="padding:15px 0;">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3" data-bind="css: { 'item-selected': isSelected }">
                        <div class="thumbnail no-label">
                            <img data-bind="attr: { alt: name, src: icon }, click: $parent.selectTemplate" class="clickable" />
                            <div class="caption">
                                <h4><a href="#" data-bind="click: $parent.selectTemplate, text: title">Vorlage wählen</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" data-bind="value: draftName" />
                </div>

                <div class="form-group">
                    <label class="control-label">Vorlage: <span data-bind="text: selectedItem() ? selectedItem().title : 'Keine'"></span></label>
                    <!-- ko if: selectedItem() && selectedItem().description -->
                    <p class="help-block" data-bind="text: selectedItem().description"></p>
                    <!-- /ko -->
                </div>

                <!-- ko if: selectedItem() && selectedItem().template && selectedItem().template.parameters -->
                <!-- ko foreach: selectedItem().template.parameters -->
                <div class="form-group">
                    <label class="control-label" data-bind="text: title"></label>
                    <input type="text" class="form-control" data-bind="value: value" />
                    <!-- ko if: $data.description && $data.description.length -->
                    <p class="help-block"><small data-bind="text: description"></small></p>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- /ko -->

                <p>
                    <button class="btn btn-primary" data-bind="click: createDraft">Weiter</button>
                </p>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: cancel"><span><i class="fa fa-arrow-left"></i> Abbrechen</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: createDraft"><span><i class="fa fa-arrow-right"></i> Weiter</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>