<div class="app-page bottom-fixed-navbar-container">
    
    <table class="table table-striped full-height">
        <thead>
            <tr>
                <th></th>
                <th>Benutzer</th>
                <th class="hidden-xs">Email</th>
                <th class="hidden-xs">Zuletzt aktiv</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: users">
            <tr>
                <td class="vertical-centered row-header-icon">
                    <a data-bind="attr: { href: '#/users/detail/' + userName() }" class="no-underline">
                        <i class="icon-user icon-2x" data-bind="css: { 'user-online': isOnline(), 'user-offline': !isOnline() }, attr: { title: isOnline() ? 'Online' : 'Offline' }"></i>
                    </a>
                </td>
                <td>
                    <a data-bind="text: fullName, attr: { href: '#/users/detail/' + userName(), title: userName }"></a>
                    <div class="visible-xs">
                        <!-- ko if: hasEverLoggedIn -->
                        <span data-bind="text: lastActivityDateFormatted, attr: { title: moment(lastActivityDate()).format('LLLL') }"></span> zuletzt aktiv
                        <!-- /ko -->
                        <!-- ko if: !hasEverLoggedIn() -->
                        noch nie aktiv
                        <!-- /ko -->
                    </div>
                </td>
                <td class="hidden-xs"><span data-bind="text: email"></span></td>
                <td class="hidden-xs"><span data-bind="text: lastActivityDateFormatted, textTimeout: { interval: 30000, observable: lastActivityDate }, attr: { title: moment(lastActivityDate()).format('LLLL') }"></span></td>
                <td class="vertical-centered">
                    <a data-bind="attr: { href: '#/users/edit/' + userName() }" title="Bearbeiten" class="no-underline"><i class="icon-edit icon-2x"></i></a>                     
                </td>
                <td class="vertical-centered">
                    <a href="#" data-bind="click: $parent.deleteUser" title="Löschen" class="no-underline"><i class="icon-remove icon-2x"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: addUser"><i class="icon-fixed-width icon-plus"></i> Neuer Benutzer</a>
                </li>
            </ul>
        </div>

        <div class="navbar-panel pull-right">
            <div class="navbar-text">
                <span data-bind="text: users().length"></span> Benutzer
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" title="Aktualisieren" data-bind="click: refresh"><i class="icon-fixed-width icon-refresh" data-bind="css: { 'icon-spin': isLoading }"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>