<div class="messageBox" id="set-password-dlg">
    <div class="modal-header">
        <h4>Passwort festlegen</h4>
    </div>
    <div class="modal-body">
        <div class="container">
            <form data-bind="submit: ok">
                <p class="message">Das Passwort muss mindestens <!-- ko text: minRequiredPasswordLength --><!-- /ko --> Zeichen lang sein.</p>                                
                <!-- ko composeEditor: { field: newPassword, title: 'Neues Passwort', valueUpdate: 'afterkeydown', css: 'col-md-12 autofocus' } --><!-- /ko -->
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok">Passwort festlegen</button>
        <button class="btn btn-default" data-bind="click: cancel">Abbrechen</button>
    </div>
</div>