<div id="user-detail" class="app-page app-page-nav-bottom">

    <div class="container">
        <h2><span data-bind="text: user().fullName"></span> <small>Benutzerdetails</small></h2>
        <div class="alert alert-warning" data-bind="visible: user().isEffectivelyLockedOut">
            <strong>Gesperrt </strong> Der Benutzer wurde <span data-bind="text: moment(user().lastLockoutDate()).fromNow(), attr: { title: moment(user().lastLockoutDate()).format('LLLL') }"></span> aufgrund zu vieler ungültiger Anmelde-Versuche gesperrt.
            Die Sperrung wird nach <!-- ko text: authentication.metadata.lockoutPeriod --><!-- /ko --> Minuten automatisch aufgehoben.
        </div>
        <div class="alert alert-info" data-bind="visible: user().isOnline">
            <strong>Online </strong> <span data-bind="text: user().firstName"></span> ist derzeit online.
        </div>
    </div>

    <div class="container">

        <div class="well well-small">
            <div class="row">
                <div class="col-md-6">
                    <p>Email: <a data-bind="text: user().email, attr: { href: 'mailto:' + user().email() }"></a></p>
                    <p data-bind="visible: user().hasPhone">Telefon: <a data-bind="text: user().phone, attr: { href: 'tel:' + user().phone() }"></a></p>
                    <p>Benutzername: <span data-bind="text: user().userName"></span></p>
                    <p data-bind="visible: user().roles().length">Rollen: <em><!-- ko foreach: user().roles --><span data-bind="text: $data + (($index < $parent.user().roles().length) ? ', ' : '')"></span><!-- /ko --></em></p>
                </div>
                <div class="col-md-6">
                    <p>Erstellt: <span data-bind="attr: { title: moment(user().creationDate()).format('LLLL') }, text: user().creationDateFormatted, textTimeout: { interval: 30000, observable: user().creationDate }"></span></p>
                    <p data-bind="visible: user().hasEverLoggedIn">Letzte Anmeldung: <em data-bind="attr: { title: moment(user().lastLoginDate()).format('LLLL') }, text: user().lastLoginDateFormatted(), textTimeout: { interval: 30000, observable: user().lastLoginDate }"></em></p>
                    <p data-bind="visible: user().hasEverLoggedIn">Zuletzt aktiv: <em data-bind="attr: { title: moment(user().lastActivityDate()).format('LLLL') }, text: user().lastActivityDateFormatted, textTimeout: { interval: 30000, observable: user().lastActivityDate }"></em></p>
                    <p data-bind="visible: user().hasEverChangedPassword">Passwort-Änderung: <em data-bind="attr: { title: moment(user().lastPasswordChangedDate()).format('LLLL') }, text: user().lastPasswordChangedDateFormatted, textTimeout: { interval: 30000, observable: user().lastPasswordChangedDate }"></em></p>
                    <p data-bind="visible: !user().hasEverLoggedIn()">Noch nie angemeldet</p>
                </div>

            </div>
        </div>

        <!-- ko if: user().comment().length -->
        <h5>Notizen</h5>
        <div class="well well-small">
            <div class="row">
                <p data-bind="text: user().comment"></p>
            </div>
        </div>
        <!-- /ko -->

        <h5>Optionen</h5>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled fa-ul full-height">
                    <li><i class="fa fa-li fa-wrench"></i> <a href="#" data-bind="click: changePassword">Passwort festlegen</a> </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: navigateBack">
                        <i class="fa fa-arrow-left"></i> Zurück
                    </a>
                </li>
                <li>
                    <a href="#" data-bind="click: editUser">
                        <i class="fa fa-edit"></i> Bearbeiten
                    </a>
                </li>
                <li>
                    <a href="#" data-bind="click: deleteUser">
                        <i class="fa fa-times"></i> Löschen
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-panel pull-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" title="Aktualisieren" data-bind="click: refresh"><i class="fa fa-refresh fa-fw" data-bind="css: { 'fa-spin': isLoading }"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>