
<div id="user-editor" class="app-page">
    
    <div class="container-fluid">
        <!-- ko if: isNewUser() -->
        <h2>Neuer Benutzer</h2>
        <!-- /ko -->
        <!-- ko if: !isNewUser() && user() -->
        <h2><span data-bind="text: user().fullName"></span> <small>Bearbeiten</small></h2>
        <!-- /ko -->
    </div>

    <form id="theform" data-bind="submit: save" class="full-height">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <!-- ko if: isNewUser() -->
                    <!-- ko composeEditor: { field: user().userName, title: 'Benutzer', popoverPlacement: 'bottom', css: 'span12' } --><!-- /ko -->
                    <!-- ko composeEditor: { field: user().password, title: 'Passwort', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'span12' } --><!-- /ko -->
                    <!-- /ko -->
                
                    <!-- ko if: user() -->        
                    <!-- ko composeEditor: { field: user().firstName, title: 'Vorname', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'span12' } --><!-- /ko -->
                    <!-- ko composeEditor: { field: user().lastName, title: 'Nachname', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'span12' } --><!-- /ko -->
                    <!-- ko composeEditor: { field: user().email, title: 'Email', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'span12' } --><!-- /ko -->
                    <!-- ko composeEditor: { type: 'textarea', field: user().comment, title: 'Notizen', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'span12' } --><!-- /ko -->
                    <!-- /ko -->     
                </div>

                <div class="span6">
                    <div>
                        <!-- ko if: roles() && roles().length -->  
                        <label>Rollen</label>
                        <div data-bind="foreach: roles">
                            <label class="checkbox">
                                <input type="checkbox" data-bind="checked: isChecked, enable: isEnabled" /> <!-- ko text: role --><!-- /ko -->
                            </label>
                        </div>
                        <!-- /ko -->
                    </div>
                </div> 
            </div>
        </div>
        
        <div class="form-actions full-width-on-phone full-height">
            <div class="pull-right">
            <!-- ko if: !user().isValid() -->
            <!-- ko validationSummary: { entity: user() } --><!-- /ko -->
            <!-- /ko -->
            </div>

            <button type="submit" class="btn btn-primary" data-bind="enable: user.isDirty()">Speichern</button> 
            <a href="#" data-bind="click: cancel" class="btn">Abbrechen</a>  
        </div>
    </form>

</div>