
<div id="user-editor" class="app-page app-page-nav-bottom">
    <div class="container">
        <!-- ko if: isNewUser() -->
        <h2>Neuer Benutzer</h2>
        <!-- /ko -->
        <!-- ko if: !isNewUser() && user() -->
        <h2><span data-bind="text: user().fullName"></span> <small>Bearbeiten</small></h2>
        <!-- /ko -->
    </div>

    <form id="theform" data-bind="submit: save" class="full-height">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- ko if: user() -->
                    <!-- ko composeEditor: { field: user().firstName, title: 'Vorname', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'form-control' } --><!-- /ko -->
                    <!-- ko composeEditor: { field: user().lastName, title: 'Nachname', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'form-control' } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: isNewUser() -->
                    <!-- ko composeEditor: { field: user().userName, title: 'Benutzer', popoverPlacement: 'bottom', css: 'form-control' } --><!-- /ko -->
                    <!-- ko composeEditor: { field: user().password, title: 'Passwort', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'form-control' } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: user() -->
                    <!-- ko composeEditor: { field: user().email, title: 'Email', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'form-control' } --><!-- /ko -->
                    <!-- ko composeEditor: { field: user().phone, title: 'Telefon', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'form-control' } --><!-- /ko -->
                    <!-- /ko -->
                </div>

                <div class="col-md-6">
                    <!-- ko if: user() -->
                    <!-- ko composeEditor: { type: 'textarea', field: user().comment, title: 'Notizen', valueUpdate: 'afterkeydown', popoverPlacement: 'bottom', css: 'form-control' } --><!-- /ko -->
                    <!-- /ko -->
                    <div>
                        <!-- ko if: roles() && roles().length -->
                        <label>Rollen</label>
                        <div class="checkbox" data-bind="foreach: roles">
                            <label>
                                <input type="checkbox" data-bind="checked: isChecked, enable: isEnabled" /> <!-- ko text: role --><!-- /ko -->
                            </label>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="pull-right">
            <!-- ko if: !user().isValid() -->
            <!-- ko validationSummary: { entity: user() } --><!-- /ko -->
            <!-- /ko -->
        </div>

        <div class="navbar-panel">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: cancel"><i class="fa fa-arrow-left"></i> Zurück</a>
                </li>
                <li>
                    <a href="#" data-bind="click: save, enable: user.isDirty()"><i class="fa fa-save"></i> Speichern</a>
                </li>
            </ul>
        </div>
    </div>

</div>