<div class="splash-host">
    <div class="splash">
        <div class="splash-content">
            <div class="splash-message">
                CAPS
            </div>
            
            <div class="splash-spinner">
                <i class="icon-cog icon-4x icon-spin"></i>
            </div>

            <div class="splash-footer">
                Caps wird geladen...<br />
                <small>v.@Html.CapsVersion()-pre</small>
            </div>
        </div>
    </div>
</div>