<div class="splash-host">
    <div class="splash">
        <div class="splash-content">
            <div class="splash-message">
                CAPS
            </div>
            
            <div class="splash-spinner">
                <i class="icon-cog icon-spin"></i>
            </div>

            <div class="splash-footer">
                wird geladen
            </div>
        </div>
    </div>
</div>