<div class="row editor-header">
    <div class="col-md-6">
        <span>Original (Deutsch)</span>
    </div>
    <div class="col-md-6">
        <span data-bind="text: 'Übersetzung (' + editor.language().localeName('de') + ')'"></span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 content-editor" data-bind="forceViewportHeight: { minWidth: 992 }">
        <div class="textarea-disabled" data-bind="html: originalContent" />
    </div>
    <div class="col-md-6 content-editor" data-bind="forceViewportHeight: { minWidth: 992 }">
        <textarea class="form-control" data-bind="value: resource.Content, attr: { lang: editor.language().culture }" />
    </div>
</div>