<div class="row editor-header">
    <div class="col-md-6">
        <label>Original (Deutsch)</label>
    </div>
    <div class="col-md-6">
        <label data-bind="text: 'Übersetzung (' + editor.language().localeName('de') + ')'"></label>
    </div>
</div>

<div class="row" style="position:relative;">
    <div class="col-md-6 content-editor" data-bind="forceViewportHeight: { minWidth: 992 }">
        <div class="textarea-disabled" data-bind="html: originalContent" />
    </div>
    <div class="col-md-6 content-editor" data-bind="forceViewportHeight: { minWidth: 992 }">
        <textarea class="form-control" data-bind="value: resource.Content, attr: { lang: editor.language().culture }" />
    </div>
    <div class="trnsl-btns-abs-centered">
        <a href="#" title="Original übernehmen" data-bind="click: copyOriginal">
            <i class="fa fa-arrow-right fa-lg"></i>
        </a>
    </div>
</div>