<div class="row editor-header">
    <div class="col-md-6">
        <span>Original (Deutsch)</span>
    </div>
    <div class="col-md-6">
        <span data-bind="text:editor.language().localeName('de')"></span>
    </div>
</div>

<section data-bind="foreach: editor.files" class="thumbnail-list">
    <div class="row">
        <div class="col-md-2">
            <div class="thumbnail-container">
                <a class="thumbnail">
                    <!-- ko template: { name: 'dbfile-icon', data: original.FileVersion() } --><!-- /ko -->
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2">Titel</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data-bind="value: original.Title" disabled="disabled" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">Beschreibung</label>
                    <div class="col-md-10">
                        <textarea data-bind="value: original.Description" class="form-control" disabled="disabled" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">Akkreditierung</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data-bind="value: original.Credits" disabled="disabled" />
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-2">
            <div class="thumbnail-container">
                <a class="thumbnail" href="#">
                    <!-- ko if: FileVersion() -->
                    <!-- ko template: { name: 'dbfile-icon', data: FileVersion() } --><!-- /ko -->
                    <!-- /ko -->
                </a>
                <a href="#" data-bind="click: selectFile">Datei wählen...</a>
                <!-- ko if: translation.FileVersion() -->
                <a href="#" data-bind="click: resetFile"><i class="fa fa-times"></i></a>
                <!-- /ko -->
            </div>
        </div>
        <div class="col-md-4">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2">Titel</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data-bind="value: translation.Title, attr: { lang: $parent.editor.language().culture }" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">Beschreibung</label>
                    <div class="col-md-10">
                        <textarea data-bind="value: translation.Description, attr: { lang: $parent.editor.language().culture }" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2">Akkreditierung</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data-bind="value: translation.Credits, attr: { lang: $parent.editor.language().culture }" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="separator"></div>
</section>

<script type="text/html" id="dbfile-icon">
    <!-- ko if: File().isImage() -->
    <img src="/content/images/blank.gif" data-bind="attr: { 'data-src': 'DbFileContent/Thumbnail/' + Id() + '?thumbnailName=220x160', title: File().FileName, alt: File().FileName }, lazyImage: true" />
    <!-- /ko -->
    <!-- ko if: !File().isImage() -->
    <span data-bind="attr: { title: File().FileName }"><i class="fa fa-file fa-4x"></i></span>
    <!-- /ko -->
</script>