<div class="row editor-header">
    <div class="col-md-6">
        <span>Original (Deutsch)</span>
    </div>
    <div class="col-md-6">
        <span data-bind="text:editor.language().localeName('de')"></span>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        
        <div class="form-group">
            <label class="col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" data-bind="value: editor.entity().Name" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" data-bind="value: translation.TranslatedName, attr: { lang: editor.language().culture }" class="form-control" />
            </div>
        </div>
    </div>
</div>