<h4 class="nav-header">Übersetzung</h4>
<ul data-bind="foreach: contentParts" class="nav nav-pills nav-stacked">
    <li data-bind="css: { active: contentPart.PartType() === $parent.currentContentPart() }">
        <a data-bind="text: templateCell.title, click: editContentPart" href="#"></a>
    </li>
</ul>
<ul class="nav nav-pills nav-stacked">
    <li data-bind="css: { active: currentView() == 'DraftFiles'}"><a data-bind="click: editor.showFiles" href="#">Dateien</a></li>
    <li data-bind="css: { active: currentView() == 'DraftProperties'}"><a data-bind="click: editor.showProperties" href="#">Eigenschaften</a></li>
</ul>