<div class="app-page bottom-fixed-navbar-container">

    <!-- ko if: file() -->
    <div class="col-md-8 col-lg-9 fixed-container" data-bind="forceViewportHeight: { minWidth: 992 }">
        <!-- ko template: { name: previewTemplate, data: fileVersion().entity } -->
        <!-- /ko -->
    </div>

    <div class="col-md-4 col-lg-3 col-md-offset-8 col-lg-offset-9">
        <h4 class="break-h"><span data-bind="text: file().FileName"></span> <small>Details</small></h4>
        <div>
            <p>
            Hochgeladen <span data-bind="text: uploadedFromNowBy, attr: { title: uploadedAt }"></span>
            </p>
            <!-- ko with: fileVersion() -->
            <!-- ko if: isInUse() -->
            <p><strong>In Verwendung</strong></p>
            <ul class="list-inline">
                <!-- ko foreach: entity.DraftFileResources() -->
                <li data-bind="if: DraftFile()">
                    <a href="#" data-bind="click: $parent.navigateToResourceOwner"><i class="fa fa-file-text"></i> Inhalt <!-- ko text: DraftFile().DraftId --><!-- /ko --></a>
                </li>
                <!-- /ko -->                
                <!-- ko foreach: entity.PublicationFileResources() -->
                <li>
                    <a href="#" data-bind="click: $parent.navigateToResourceOwner"><i class="fa fa-file-text"></i> Veröffentlichung <!-- ko text: PublicationFile().PublicationId --><!-- /ko --></a>
                </li>
                <!-- /ko -->
            </ul>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="well well-sm">
            <div>
                Inhaltstyp: <span data-bind="text: file().ContentType()"></span>
            </div>
            <div>
                Größe: <!-- ko text: utils.formatFileSize(file().latestVersion().FileSize()) --><!-- /ko -->
            </div>
            <!-- ko if: moment(file().Created().At()).diff(moment(file().Modified().At()), 'seconds') > 0 -->
            <div data-bind="with: file().Modified">
                Letzte Änderung <span data-bind="text: moment(At()).fromNow(), attr: { title: moment(At()).format('LLLL') }"></span> 
                von <span data-bind="text: By"></span>
            </div>
            <!-- /ko -->

            <!-- ko if: file().isImage -->
            <div data-bind="with: file().latestVersion">
                Bildgröße: <span data-bind="text: imageWidth"></span> x <span data-bind="text: imageHeight"></span> px
            </div>
            <!-- /ko -->
        </div>

        <h4>
            Markierungen
            <!-- ko if: !addTagUIVisible() -->
            <small><a data-bind="click: addTag" href="#">Hinzufügen</a></small>
            <!-- /ko -->
        </h4>        
        <!-- ko if: addTagUIVisible -->
        <form role="form">
            <div class="input-group">
                <input type="text" class="form-control hide-ms-clear" data-bind="typeahead: tagNames, value: tagName, event: { 'typeahead:selected': updateTagName, 'typeahead:autocompleted': updateTagName }" />
                <div class="input-group-btn">
                    <button data-bind="click: addTag" class="btn btn-default">Ok</button>
                </div>
            </div>
            <p class="form-control-buttons"><a data-bind="click: cancelAddTag" href="#">Abbrechen</a></p>
        </form>
        <br />
        <!-- /ko -->        
        <ul data-bind="foreach: file().Tags" class="list-group">
            <li data-bind="if: Tag()" class="list-group-item">
                <div class="pull-right">
                    <button class="btn btn-link btn-xs" data-bind="click: $parent.removeTag"><i class="fa fa-times"></i></button>
                </div>
                <i class="fa fa-tag"></i> <span data-bind="text: Tag().Name"></span>
            </li>
        </ul>

        <h4>Thumbnails</h4>
        <ul data-bind="foreach: thumbnails" class="list-unstyled">
            <li>
                <span data-bind="text:name"></span> <a href="#" data-bind="click: deleteThumbnail">Löschen</a>
            </li>
        </ul>
        
        <!-- ko if: versions().length > 1 -->
        <h4>Weitere Versionen <small>(<!-- ko text: versions().length - 1 --><!-- /ko -->)</small></h4>
        <ul data-bind="foreach: versions" class="list-unstyled">
            <!-- ko if: !isCurrentVersion() -->
            <li>
                <!-- ko if: !isInUse() -->
                <a href="#" data-bind="click: select, text: entity.Id"></a>
                <!-- /ko -->
                <!-- ko if: isInUse -->
                <small>In Verwendung</small>
                <!-- /ko -->
            </li>
            <!-- /ko -->
        </ul>
        <!-- /ko -->
    </div>
    <!-- /ko -->
        
    <div class="navbar navbar-default navbar-fixed-bottom">
        
        <div class="navbar-panel pull-left">                        
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: navigateBack">
                        <i class="fa fa-arrow-left"></i> Alle Dateien</a>
                </li>
                <li>
                    <a class="btn-fileinput">
                        <span><i class="fa fa-repeat"></i> Datei ersetzen</span>
                        <!-- ko with: uploadManager -->
                        <input type="file" name="files" data-url="~/api/DbFileUpload"
                               data-bind="fileupload: { add: addFiles, done: uploadDone, fail: uploadFailed, progressall: uploadProgress, dropZone: null }, attr: { 'data-replace-id': $parent.fileVersion().entity.Id() }"
                               data-storage-option="replace">
                        <!-- /ko -->
                    </a>
                </li>
                <li>
                    <a href="#" data-bind="click: deleteFile">
                        <i class="fa fa-trash-o"></i> Datei löschen
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-panel pull-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" title="Aktualisieren" data-bind="click: refresh"><i class="fa fa-refresh fa-fw" data-bind="css: { 'fa-spin': isLoading }"></i></a>
                </li>
            </ul>
        </div> 
    </div>

    <script type="text/html" id="file-preview-image">
        <div class="file-preview image-preview" data-bind="stretchLineHeight: true">
            <img data-bind="attr: { src: $root.server.mapPath('~/DbFileContent/Inline/' + Id() + '?h=' + Hash()) }" />
        </div>
    </script>

    <script type="text/html" id="file-preview-general">
        <div class="file-preview unknown-preview">
            <span><i class="fa fa-file fa-4x"></i></span>
        </div>
    </script>
</div>