<div class="app-page bottom-fixed-navbar-container">

    <!-- ko if: file() -->
    <div class="col-md-8 col-lg-9" data-bind="forceViewportHeight: { spacers: '.navbar-fixed-top', minWidth: 979 }">
        <!-- ko template: { name: previewTemplate, data: file } -->
        <!-- /ko -->
    </div>

    <div class="col-md-4 col-lg-3">
        <h4 class="break-h"><span data-bind="text: file().FileName"></span> <small>Details</small></h4>

        <div data-bind="with: file().Created">
            Hochgeladen <span data-bind="text: moment(At()).fromNow(), attr: { title: moment(At()).format('LLLL') }"></span> 
            von <span data-bind="text: By"></span>
        </div>
        <div>
            Inhaltstyp: <span data-bind="text: file().ContentType()"></span>
        </div>
        <div>
            Größe: <!-- ko text: utils.formatFileSize(file().latestVersion().FileSize()) --><!-- /ko -->
        </div>
        <!-- ko if: moment(file().Created().At()).diff(moment(file().Modified().At()), 'seconds') > 0 -->
        <div data-bind="with: file().Modified">
            Letzte Änderung <span data-bind="text: moment(At()).fromNow(), attr: { title: moment(At()).format('LLLL') }"></span> 
            von <span data-bind="text: By"></span>
        </div>
        <!-- /ko -->

        <!-- ko if: file().isImage -->
        <div data-bind="with: file().latestVersion">
            Bildgröße: <span data-bind="text: imageWidth"></span> x <span data-bind="text: imageHeight"></span> px
        </div>
        <!-- /ko -->

        <h4>Tags</h4>
        <form class="form-inline" role="form">
            <div class="input-group">
                <input type="text" class="form-control hide-ms-clear" data-bind="typeahead: tagNames, value: tagName, event: { 'typeahead:selected': updateTagName, 'typeahead:autocompleted': updateTagName }" />
                <span class="input-group-btn">
                    <button data-bind="click: addTag" class="btn btn-default">
                        <span><i class="icon-plus"></i></span>
                    </button>
                </span>
            </div>
        </form>
        <br />
        <ul data-bind="foreach: file().Tags" class="list-unstyled">
            <li data-bind="if: Tag()">                    
                <span data-bind="text: Tag().Name"></span> <a href="#" data-bind="click: $parent.removeTag">Entfernen</a>
            </li>
        </ul>

    </div>
    <!-- /ko -->
        
    <div class="navbar navbar-default navbar-fixed-bottom">
        
        <div class="navbar-panel pull-left">                        
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: navigateBack">
                        <i class="icon-fixed-width icon-arrow-left"></i> Zurück</a>
                </li>
            </ul>
        </div>
        <div class="navbar-panel pull-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" title="Aktualisieren" data-bind="click: refresh"><i class="icon-fixed-width icon-refresh" data-bind="css: { 'icon-spin': isLoading }"></i></a>
                </li>
            </ul>
        </div> 
    </div>

    <script type="text/html" id="file-preview-image">
        <div class="file-preview image-preview" data-bind="stretchLineHeight: true">
            <img data-bind="attr: { src: '/DbFileContent/Inline/' + Id() }" />
        </div>
    </script>
    <script type="text/html" id="file-preview-general">
        <div class="file-preview unknown-preview">
            <span><i class="icon-file icon-4x"></i></span>
        </div>
    </script>
</div>