<div class="app-page bottom-fixed-navbar-container">
    <div class="page-content subnav-fixed-top-container subnav-extrapadding">

        <div class="toolbar row subnav-fixed-top">
            <div class="col-md-6 col-lg-8">
                <h3 data-bind="text: title"></h3>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- ko compose: searchControl --><!-- /ko -->
            </div>
        </div>

        <div>
            <div class="row thumbnails-fixed-size" data-bind="lazyLoad: { data: list.items(), loadHandler: loadHandler }">
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="thumbnail-container" data-bind="css: { 'item-checked': isSelected  }">
                        <a href="#" class="thumbnail" data-bind="css: { 'item-selected': isSelectedItem }, clickBubble: false, click: selectItem">
                            <!-- ko if: data() -->
                            <!-- ko with: data() -->
                            <!-- ko if: isImage -->
                            <img src="/content/images/blank.gif" data-bind="attr: { 'data-src': 'DbFileContent/Thumbnail/' + latestVersion().Id() + '?thumbnailName=220x160&h=' + latestVersion().Hash(), title: FileName, alt: FileName }, lazyImage: true" />
                            <!-- /ko -->
                            <!-- ko if: !isImage() -->
                            <span data-bind="attr: { title: FileName }"><i class="fa fa-file fa-4x"></i></span>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->                            
                            <!-- ko if: isUploading() -->
                            <span><i class="fa fa-spinner fa-spin fa-4x"></i></span>
                            <!-- /ko -->
                        </a>
                        <!-- ko if: data() -->
                        <div class="item-check" data-bind="click: toggleSelected, clickBubble: false, attr: { title: data().FileName() + ' auswählen' }">
                            <i class="fa" data-bind="css: { 'fa-check-square-o': isSelected, 'fa-square-o': !isSelected() }"></i>
                        </div>
                        <div class="thumbnail-controls">
                            <!--<a class="btn-link pull-right" data-bind="click: $parent.showDetail, clickBubble: false" title="Details anzeigen"><i class="icon-arrow-right icon-2x"></i></a>-->
                            <a class="btn-link" data-bind="click: $parent.deleteFile, clickBubble: false, attr: { title: data().FileName() + ' löschen' }"><i class="fa fa-trash-o fa-2x"></i></a>
                        </div>
                        <!-- /ko -->
                        <div class="thumbnail-label">
                            <!-- ko if: data() -->
                            <span class="thumbnail-label-content" data-bind="text: data().FileName, attr: { title: data().FileName }"></span>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: selectCancel"><span><i class="fa fa-arrow-left fa-fw"></i> Abbrechen</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: selectOk"><span><i class="fa fa-save fa-fw"></i> Hinzufügen</span></a>
                </li>
                <li>
                    <a class="fileinput-button">
                        <span><i class="fa fa-plus"></i> Dateien hochladen</span>
                        <!-- ko with: uploadManager -->
                        <input type="file" name="files" data-url="~/api/DbFileUpload"
                               data-bind="fileupload: { add: addFiles, done: uploadDone, fail: uploadFailed, progressall: uploadProgress, dropZone: $('#drop-zone'), drop: filesDropped }" multiple>
                        <!-- /ko -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>