<div class="input-group">
    <!-- Filter Dropdown -->
    <div class="input-group-btn" data-bind="event: { 'show.bs.dropdown': beginSetFilter }">
        <a id="A1" role="button" data-toggle="dropdown" data-target="#" href="#" class="btn btn-default dropdown-toggle">
            <span><i class="fa fa-filter"></i></span>
            <b class="caret" />
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="A1">
            <li role="presentation" class="dropdown-header">Markierungen</li>
            <li data-bind="if: filterOptions()">
                <div class="dropdown menu-section">
                    <ul class="checkbox-list" role="menu">
                        <li>
                            <a role="menuitem" tabindex="-1" href="#" class="checkable-item" data-bind="click: filterOptions().toggleAll, clickBubble: false">
                                <span class="icon"><i class="fa fa-fw" data-bind="css: { 'fa-square-o': !filterOptions().allSelected(), 'fa-check-square-o': filterOptions().allSelected() }"></i></span>
                                <span class="mnu-label">Alle</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li data-bind="if: filterOptions()">
                <div id="FiltersDropDown" class="dropdown menu-section scrollable" data-bind="click: function () { $('#FiltersDropDown > ul').focus(); }, clickBubble: false">
                    <ul class="checkbox-list" role="menu" data-bind="foreach: filterOptions().filters">
                        <li>
                            <a role="menuitem" tabindex="-1" href="#" class="checkable-item" data-bind="click: toggleSelect, clickBubble: false">
                                <span class="icon"><i class="fa fa-fw" data-bind="css: { 'fa-square-o': !isSelected(), 'fa-check-square-o': isSelected() }"></i></span>
                                <span data-bind="text: title" class="mnu-label"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown-buttons">
                    <button class="btn btn-default btn-sm" data-bind="click: endSetFilter">Ok</button>
                    <button class="btn btn-default btn-sm">Abbrechen</button>
                </div>
            </li>
        </ul>
    </div>
    <!-- Searchwords -->
    <input type="text" data-bind="delayedSearch: { searchObservable: searchWords, searchHandler: search }" class="form-control hide-ms-clear" placeholder="Suche" />
    <!-- Sort Button/Dropdown -->
    <div class="input-group-btn">
        <a href="#" role="button" data-bind="click: sortOptions.toggleSortDirection" class="btn btn-default">
            <span><i data-bind="css: { 'fa-sort-alpha-asc': sortOptions.sortDirection() == 'asc', 'fa-sort-alpha-desc': sortOptions.sortDirection() != 'asc' }" class="fa fa-sort-alpha-asc"></i></span>
        </a>
        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#" class="btn btn-default dropdown-toggle">
            <b class="caret" />
        </a>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
            <!-- ko foreach: sortOptions.columns -->
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" data-bind="click: sort">
                    <span class="pull-right" data-bind="visible: isSelected"><i class="fa fa-check"></i></span>
                    <span data-bind="text: title" class="mnu-label"></span>
                </a>
            </li>
            <!-- /ko -->
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="click: sortOptions.sortAsc"><span class="pull-right" data-bind="    visible: sortOptions.sortDirection() == 'asc'"><i class="fa fa-check"></i></span> Aufsteigend</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="click: sortOptions.sortDesc"><span class="pull-right" data-bind="    visible: sortOptions.sortDirection() == 'desc'"><i class="fa fa-check"></i></span> Absteigend</a></li>
        </ul>
    </div>
</div>