<div data-bind="forceViewportHeight: { spacers: '.navbar-fixed-top, .contentpart-nav', minWidth: 992 }">
    <!--<textarea class="form-control" data-bind="value: resource.Content"></textarea>-->

    <!-- ko compose: contentEditor --><!-- /ko -->
</div>
<div class="contentpart-nav">
    <div class="pull-right">
        <select data-bind="options: contentTypes, optionsText: 'title', optionsValue: 'value', value: contentPart.ContentType"></select>
    </div>
    Inhalt: <span data-bind="text: title"></span>
</div>