<div id="draftTemplate" data-bind="if: editor.template()">
    <!-- ko foreach: { data: editor.template().rows, as: 'row' } -->
    <div class="row">
        <!-- ko foreach: { data:row.cells, as: 'cell' } -->
        <div class="dt-content-part" data-bind="draftTemplateClass: cell, click: $parents[1].editContentPart">
            <div>
                <p>
                    <a href="#" data-bind="click: $parents[1].editContentPart"><i class="fa fa-edit"></i> <span data-bind="text:title"></span></a>
                </p>
                <p>
                    <i data-bind="text: $parents[1].previewText($data)"></i>
                </p>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>

<div class="row">
    <div class="col-md-12">
        <p><a href="#" data-bind="click: editor.showTemplateEditor">Vorlage bearbeiten</a></p>
    </div>
</div>