<form role="form" class="form-horizontal">
    <div class="form-group">
        <label for="draftName" class="col-md-3 col-lg-2">Name</label>
        <div class="col-md-9 col-lg-10">
            <input type="text" data-bind="value: editor.entity().Name" class="form-control" id="draftName" />
        </div>
    </div>

    <div class="form-group">
        <label for="draftTitle" class="col-md-3 col-lg-2">Titel (Deutsch)</label>
        <div class="col-md-9 col-lg-10">
            <input type="text" data-bind="value: resource.Title" class="form-control" id="draftTitle" />
        </div>
    </div>

    <div class="form-group">
        <label for="draftDescription" class="col-md-3 col-lg-2">Beschreibung (Deutsch)</label>
        <div class="col-md-9 col-lg-10">
            <textarea data-bind="value: resource.Description" class="form-control" id="draftDescription" />
        </div>
    </div>

    <div class="form-group">
        <label for="draftKeywords" class="col-md-3 col-lg-2">Schlüsselwörter (Deutsch)</label>
        <div class="col-md-9 col-lg-10">
            <input type="text" data-bind="value: resource.Keywords" class="form-control" id="draftKeywords" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 col-lg-2">Id</label>
        <p class="form-static-control col-md-3 col-lg-4"><span data-bind="text: editor.entity().Id"></span></p>

        <label class="col-md-3 col-lg-2">Version</label>
        <p class="form-static-control col-md-3 col-lg-4"><span data-bind="text: editor.entity().Version"></span></p>
    </div>

    <div class="form-group">
        <label class="col-md-3 col-lg-2">Vorlage</label>
        <p class="form-static-control col-md-9 col-lg-10"><span data-bind="text: editor.entity().Template"></span></p>
    </div>

    <div class="form-group">
        <label class="col-md-3 col-lg-2">Erstellt von</label>
        <p class="form-static-control col-md-9 col-lg-10"><span data-bind="text: editor.entity().Created().By"></span> <span data-bind="text: moment.utc(editor.entity().Created().At()).fromNow(), attr: { title: moment.utc(editor.entity().Created().At()).format('LLLL') }"></span></p>
    </div>

    <div class="form-group">
        <label class="col-md-3 col-lg-2">Letzte Änderung</label>
        <p class="form-static-control col-md-9 col-lg-10"><span data-bind="text: editor.entity().Modified().By"></span> <span data-bind="text: moment.utc(editor.entity().Modified().At()).fromNow(), attr: { title: moment.utc(editor.entity().Modified().At()).format('LLLL') }"></span></p>
    </div>
</form>