<div id="drafts-editor" class="app-page bottom-fixed-navbar-container subnav-fixed-top-container" data-bind="if: entity">

    <div class="toolbar subnav-fixed-top drafts-editor-nav" data-bind="compose: currentNavigation"></div>

    <div class="panel-padding-h">
        <div class="row">
            <div class="col-md-12 drafts-editor-pane">
                <div data-bind="compose: currentContent"></div>
            </div>
        </div>
    </div>        
        
    <div class="navbar navbar-default navbar-fixed-bottom">        
        <div class="navbar-panel pull-left">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-bind="click: navigateBack"><span><i class="fa fa-list"></i> Alle Inhalte</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: saveChangesAndNavigateBack"><span><i class="fa fa-save"></i> Inhalt speichern</span></a>
                </li>
                <li>
                    <a href="#" data-bind="click: deleteDraft"><span><i class="fa fa-trash-o"></i> Inhalt löschen</span></a>
                </li>
            </ul>
        </div>
    </div>

</div>