<div class="row">
    <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Name" title="Name" data-bind="value: editor.entity().Name" />
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li data-bind="css: { active: currentView() == 'DraftTemplate' || currentView() == 'ContentPartEditor' }">
                <!--<a href="#" data-bind="click: editor.showEditorMain"><i class="fa fa-columns fa-fw"></i> Bereiche</a>-->
                <div class="btn-group">
                    <a class="btn" href="#" data-bind="click: editor.showLayoutArea"><i class="fa fa-columns fa-fw"></i> Layoutbereiche</a>
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <!-- ko foreach: contentParts-->
                        <li role="presentation"><a href="#" data-bind="click: edit"><i class="fa fa-edit fa-fw"></i> <span data-bind="text: title"></span></a></li>
                        <!-- /ko -->
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a href="#" data-bind="click: editor.showEditorMain"><i class="fa fa-columns fa-fw"></i> Layoutübersicht</a></li>
                    </ul>
                </div>
            </li>
            <li data-bind="css: { active: currentView() == 'DraftFiles' }"><a href="#" data-bind="click: editor.showFiles"><i class="fa fa-paperclip fa-fw"></i> Anhänge (<!-- ko text: numberOfFiles --><!-- /ko -->)</a></li>
            <li data-bind="css: { active: currentView() == 'DraftProperties' }"><a href="#" data-bind="click: editor.showProperties" title="Eigenschaften"><i class="fa fa-cogs fa-fw"></i></a></li>
            <li data-bind="css: { active: currentView() == 'DraftNotes' }"><a href="#" data-bind="click: editor.showDraftNotes" title="Notizen"><i class="fa fa-pencil fa-fw"></i></a></li>
        </ul>
    </div>
</div>